@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);

.page {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #000;
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  background-color: darkgreen;
}

.content {
  background-color: darkgoldenrod;
}

.footer {
  background-color: wheat;
}
